body {
    text-align: center;
    color: rgba(80,80,255);
    background-color: rgba(100,100,255,0.6);
    font-family: 'Monaco', monospace;
}
header {
    padding: 20px;
    background: rgba(100,100,255,0.6);
    border-radius: 20px;
    margin: 20px auto;
    width: 80%;
    color: rgba(40,40,255);
    font-family: 'Lucida Handwriting', cursive;
}
h2 {
    color: rgba(40,40,255);
    font-family: 'Papyrus', fantasy;
    font-weight: bold;
}
p {
    font-size: 20px;
    font-weight: bold;
}
ul {
    font-size: 20px;
    font-weight: bold;
}
ol {
    font-size: 20px;
    font-weight: bold;
}
.card {
    background: rgba(100,100,255,0.6);
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    margin: 10px auto;
}
.img-card {
    background: rgba(100,100,255,0.4);
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    margin: auto;
}
.img-card img {
    width: 80%;
    border-radius: 15px;
}
.imgs {
    display: flex;
    justify-content: center;
    gap: 20px;
}